alias dl="curl -O"                                  # download file
alias gz="tar -zxvf"                                # open .tar.gz file
alias tmh="cat ~/.myTmuxCheatSheet"                 # show tmux commands
alias aliases="cat ~/.aliases"                      # show aliases
alias l.="ls -d .*"                                 # ls hidden files
alias update="brew update; brew upgrade"            # update brew apps/libs
alias histg="history | grep"                        # search keyword in history
alias top="htop"                                    # have top be beautiful
alias e="vim"                                       # edit

alias lisp=lispn
alias lispl=lispl
lispn() {
   rlwrap sbcl $1 $2
}

lispl() {
   rlwrap sbcl --load $1
}


alias ta="tmux attach"
alias td="tmux detach"

alias sshconfig="code ~/.ssh/config"
alias hosts="code /etc/hosts"

alias gst="git status -sb"
alias ga="git add"
alias gaa="git add -A"

alias ee="exit"
alias qq="exit"
